[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}
flask-cors = "*"
python-dotenv = "*"
requests = "*"
aserto-idp = "*"
typing-extensions = "*"
flask-aserto = "~=0.20.0"
aserto = {editable = true, path = "../../aserto-dev/aserto-python/packages/aserto"}
aserto-directory = "*"
grpcio = "~=1.50.0"

[dev-packages]
black = "*"
pynvim = "*"
pyright = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
