[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}
flask-cors = "*"
python-dotenv = "*"
requests = "*"
aserto-idp = "*"
typing-extensions = "*"
flask-aserto = "0.5.0.rc2"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
