[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "~=3.0"}
flask-cors = "~=4.0"
python-dotenv = "~=1.0"
requests = "~=2.31"
flask-aserto = {file = "../aserto-python/packages/flask-aserto", editable = true}
pyjwt = "~=2.8"
aserto = "~=0.30.0"
python-jose = {extras = ["cryptography"], version = "~=3.3.0"}

[dev-packages]
black = "~=23.0"
pyright = ">=1.1.337"
isort = "~=5.10"

[requires]
python_version = ">=3.8"

[pipenv]
allow_prereleases = true
